experiments/
__pycache__/

analysis/
examples/

results/
results_*/

*.tgz

CopyrightReceipt.pdf

demo.py
compare_*
data/

.ipynb_checkpoints/
experiments

notebooks/

# CCAM/
wandb/
